.login-page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}


.login-page-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}


.login-form-box {
    background-color: #ffffff;
    padding: 35px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 420px;
    text-align: left;
}




.login-form-box h2 {
    color: #d0004b;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}